
{% extends 'booking/base.html' %}
{% block content %}
<h2>あなたの予約一覧</h2>
<ul>
    {% for booking in bookings %}
        <li>{{ booking.date }} {{ booking.time }} - {{ booking.menu.name }}
            <form action="{% url 'booking_cancel' booking.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">キャンセル</button>
            </form>
        </li>
    {% empty %}
        <li>予約がありません。</li>
    {% endfor %}
</ul>
<a href="{% url 'booking_create' %}">新しく予約する</a>
{% endblock %}
